
<!DOCTYPE html>
<html>
  <head>
    


  </head>
  
  <style>
      .c_dark_table {
          background-color: black; 
          color: white;
      }

      .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #101319;
      }

   #myInput {
       padding: 10px;
       background-color: #101319;
       border-color: #2C2E3D;
       border-radius: 2px;
       border-style: solid;
       border-width: 0.5px;
       color:white;
       margin: 20px;
   }

   ::placeholder {
       color:white;
   }
   /* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

table {
    table-layout: fixed;
    width: 200px;
}

#forecats{ 
    font-size: 100px;
}
  </style>
  <main">
  <body data-target="#navbar1" style="margin-top: 5em; height: 600px !important;">
        <div class="container" style="height: 600px !important;">
            <div class="row">
                <div class="col-12">
                    <div class=" d-flex flex-column justify-content-center text-light">
                        <h3 >About Polaris Analytics</h3>
                        <p>
                            Polaris Analytics is a machine learning based forecasting platform for stocks in the technology market. Our mission is to provide one powerful environment to forecast stock prices.
                            Polaris Analytics was founded in 2019 by James Evans and Andreas Papaconstatninu. 
                            </p>
                            <h4> What do we do</h4>
                            Since completing dissertation work on stock forecasting we decided to take the project further and created Polaris Analytics. We originally started off using machine learning methods to conduct the forecasts and have since moved onto more exicitng techniques. All of the work is completed by the two of us and we self-teach everything.
                            We use open source financial data from a variety of resources as we have a limited budget. We process the data and use it as input for various algorithms. From here we obtain the anticipated stock movement direction. Now we have a direction we devise a strategy based on the forecast. Anything to beat a simple buy/short strategy.
                            <hr>
                    </div>
                </div>


            </div>
        </div>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
    <script>
       
        document.getElementById("about_us").style.color = "white";
        document.getElementById("about_us").style.textDecoration = "underline";
        </script>
</body>
</html>