<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/5a2a5f70f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/main.scss">
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>

    #myInput {
      
    }
    
    ::placeholder {
        font-style: italic;
        color: white;
    }
    /* enable absolute positioning */
    
    .inner-addon {
        position: relative;
    }
    /* style icon */
    
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }
    /* align icon */
    
    .left-addon .glyphicon {
        left: 0px;
    }
    
    .right-addon .glyphicon {
        right: 0px;
    }
    /* add padding  */
    
    .left-addon input {
        padding-left: 30px;
    }
    
    .right-addon input {
        padding-right: 30px;
    }
    
    table {
        table-layout: fixed;
        width: 200px;
    }
    
    #forecats {
        font-size: 100px;
    }
    
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    
    .pos {
        color: green;
    }
    
    .neg {
        color: red;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.6rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        font-size: 15px;
    }

    .main-card-top {
      margin-top: 2em;
    }

    .table {
      margin-bottom: 0px !important;
    }


    main {
      height: 1000px;
    }

</style>
<main>

  <body>
    <div class="container main-card-top">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 p-2">
                <div class="container p-0">
                <h5 class="accent-color" style="display:contents"><i class="fas fa-info-circle"></i> About Polaris Analytics </h5>
                <hr>
                <h6 style="display: contents;color:#CCA032 !important;">What do we do?</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non condimentum diam. Mauris in justo tempus arcu accumsan eleifend vel ut augue. Maecenas ac blandit lectus. Duis sit amet pharetra sapien, vel lacinia erat. Integer hendrerit ligula sed ultricies fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis nulla ornare mollis aliquet. Maecenas laoreet mollis nisi, sed luctus magna egestas ut. Aliquam ac semper enim. Sed id est sed nunc posuere pretium. Curabitur dui magna, tempus quis dui quis, imperdiet elementum elit. Proin arcu velit, egestas non dolor tempor, hendrerit mollis erat. Fusce vehicula vel ligula a consectetur. Duis placerat fringilla finibus. Integer posuere semper libero scelerisque imperdiet. Aenean diam eros, placerat vel est sit amet, congue sagittis orci.</p>
                        <hr>
                        <h6 style="display: contents;color:#CCA032 !important;">Who are we?</h6>
                        <p>Nunc quis justo vel est aliquam rhoncus feugiat at erat. Quisque in congue enim. Integer egestas tortor rutrum orci viverra, at posuere sapien sodales. Ut lacus nulla, aliquam eget euismod ac, venenatis ac leo. Mauris purus metus, feugiat ut libero eget, suscipit euismod justo. Donec ultricies leo elit, et varius arcu elementum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at est scelerisque, dictum ligula at, consequat sapien.</p>
                
              </div>
            </div>
            </div>
          </div>          
        </div>
      </div>
      
    </div>

  </body>

</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    document.getElementById("about").className += " active";
  </script>
</body>

</html>