
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Polaris Analytics</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82835148b3.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand" style="text-aligh:center;">Polaris Analytics</h3> -->
        </div>
      </header>

      <!-- <main role="main" class="inner cover"> -->
        <!-- <h3 class="cover-heading">Polaris Analytics</h3> -->
        <h5 style="color:#F2CA50"style="cover-heading">Latest Forecast</h5>
        <i style="font-size:30px; color:white;"class="fas fa-chart-line"></i>

        <table class="table table-bord table-dark" style="margin-top:1.5em;">
          <thead>
            <tr>
              <th scope="col">Company</th>
              <th scope="col">Direction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">APPLE</th>
              <td><i style="color:#3FBF04;" class="fas fa-caret-square-up"></i></td>
            </tr>
            <tr>
              <th scope="row">GOOGLE</th>
              <td><i style="color:#3FBF04;" class="fas fa-caret-square-up"></i></td>
            </tr>
            <tr>
              <th scope="row">AMAZON</th>
              <td><i style="color:#D90404;" class="fas fa-caret-square-down"></i></td>
            </tr>
          </tbody>
        </table>




        <!-- <canvas class="my-4" id="myChart" width="300" height="200"></canvas> -->
      <!-- </main> -->

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <!-- <h7 style="font-size:10px;color:grey">Success rate: 52%</h7> -->
          <p>Copyright © Polaris Analytics 2019</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sep 18", "Sep 19", "Sep 20", "Sep 23", "Sep 24", "Sep 25", "Sep 26", "Sep 27", "Sep 30", "Oct 01", "Oct 02", "Oct 03"],
          datasets: [{
            data: [222.77, 220.96, 217.73, 218.72, 217.68, 221.03, 219.89, 218.82, 223.97, 224.59, 218.96, 220.16],
            lineTension: 0.3,
            backgroundColor: 'transparent',
            borderColor: '#F2CA50',
            borderWidth: 4,
            pointBackgroundColor: '#F2CA50'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
