.accent-color *{
    color:#CCA032 !important;
  }

.btn-accent-color {
  background-color: #CCA032 !important;
}

.accent-color-bold {
    color:#CCA032;
    font-weight: bold;
    display: contents;
}