.accent-color *{
    color:#3A32FF !important;
  }

.btn-accent-color {
  background-color: #3A32FF !important;
}

.accent-color-bold {
    color:#3A32FF;
    font-weight: bold;
    display: contents;
}

